html,
body {
    background-color: #121212;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.main-container {
    width: 100%;
    padding: 20px;
    min-height: 100%;
    /* limit height to viewport */
}
.box {
    border-radius: 0.25rem;
    border: 1px solid var(--slds-g-color-border-base-1, #e5e5e5);
}
body {
    color: #fff;
}
table {
    border: 1px solid white;
    border-collapse: collapse;
}
th,
td {
    border: 1px solid white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: larger;
    text-align: center;
}
.sticky-header th {
    position: sticky;
    top: -1px;
    background-color: #000;
    /* Match the background color of the table */
    z-index: 99;
    border: 1px solid white;
}
td[data-property-name="Resources"] li {
    text-align: left;
}
.glb-raid-info {
    padding: 0.1rem;
    div {
    margin-bottom: 0.2rem;
    }
    div:last-child {
    margin-bottom: 0;
    }
}
.next-glb-raid {
    background-color: #FF0080;
    color: #fff6fa;
    font-weight: bold;
}
[finished-loading="false"] {
    display: none;
}
.icon-text-container {
    display: flex;
    align-items: center; /* or flex-end, center, baseline, stretch */
    gap: 0;
}
td[data-property-name="TypeWithIcon"] .icon-text-container img.icon {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}
td[data-property-name="RaidNameWithIcon"] .icon-text-container img.icon {
    width: auto;
    height: auto;
    max-height: 70px; /* Prevent excessive height */
    object-fit: cover; /* Crops image to fit dimensions */
}
footer {
    font-size: 0.9em;
    color: gray;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}